body {
  /* min-width: 100vw;
  min-height: 100vh; */
  margin: 0;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  font-family: Helvetica;
  /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}

nav {
  border: 2px solid #ebebeb !important;
}

footer {
  text-align: center;
}

.cartTitleStyle {
  text-align: start;
  font: italic normal bold 24px/85px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}

.thinTextStyle {
  text-align: center;
  font: normal normal 300 24px/85px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
}

.brandNameLine {
  height: 6px;
  width: 95px;
  border-radius: 3px;
  background-color: #b5c401;
}

.brandNameStyle {
  text-align: center;
  font: italic normal bold 44px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  /* border-bottom: 6px #b5c401;
  border-radius: 6px; */
}

.lotofacilButtonStyle {
  margin-left: 10px;
  background-color: transparent;
  text-align: center;
  font: italic normal bold 14px;
  color: #7f3992;
  width: 113px;
  height: 34px;
  border: 2px solid #7f3992;
}

.lotofacilButtonStyle:hover,
.lotofacilButtonStyle:checked + label {
  background-color: #7f3992;
  font-weight: 400;
  color: white;
}

.megaSenaButtonStyle {
  background-color: transparent;
  text-align: center;
  font: italic normal bold 14px;
  color: #01ac66;
  border: 2px solid #01ac66;
  width: 113px;
  height: 34px;
}

.megaSenaButtonStyle:hover,
.megaSenaButtonStyle:checked + label {
  background-color: #01ac66;
  font-weight: 400;
  color: white;
}

.quinaButtonStyle {
  background-color: transparent;
  text-align: center;
  font: italic normal bold 14px;
  color: #f79c31;
  border: 2px solid #f79c31;
  width: 113px;
  height: 34px;
}

span[id="ChooseGameText"] {
  text-align: start;
  font: italic normal bold 17px/70px Helvetica;
  letter-spacing: 0px;
  color: #868686;
  opacity: 1;
  /* margin-left: 16px; */
}

span[id="NewBetText"] {
  text-align: start;
  font: italic normal bold 24px/85px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.quinaButtonStyle:hover,
.quinaButtonStyle:checked + label {
  background-color: #f79c31;
  font-weight: 400;
  color: white;
}

.iconDeleteStyle {
  color: #888888 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 20px;
}

.megaSenaBorderColor {
  border-color: #01ac66 !important;
}

.lotofacilBorderColor {
  border-color: #7f3992 !important;
}

.quinaBorderColor {
  border-color: #f79c31 !important;
}

.selectedNumbersTextStyle {
  text-align: justify;
  font: italic normal bold 15px Helvetica;
  color: #868686;
}

.gamePriceTextStyle {
  text-align: justify;
  font: normal normal normal 16px Helvetica;
  color: #868686;
}

.megaSenaTextStyle {
  font: italic normal bold 16px Helvetica;
  color: #01ac66;
}

.lotofacilTextStyle {
  font: italic normal bold 16px Helvetica;
  color: #f79c31;
}

.quinaTextStyle {
  font: italic normal bold 16px Helvetica;
  color: #7f3992;
}

.saveCartItensContainer {
  /* width: 317px;
  height: 96px; */
  height: 50%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  opacity: 1;
  text-align: center;
  font: italic normal bold 35px/70px Helvetica;
  letter-spacing: 0px;
  color: #27c383;
  opacity: 1;
}

.saveCartItensContainer:hover,
.saveCartItensContainer:focus {
  color: #20a36d;
}

.navbarButtonsStyle {
  background-color: transparent;
  text-align: center;
  font: italic normal bold 20px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.iconThin {
  -webkit-text-stroke: 3px #f4f4f4;
  margin-left: 3px;
}

.instructionTitleStyle {
  text-align: left;
  font: italic normal bold 17px Helvetica;
  letter-spacing: 0px;
  color: #868686;
}

span[data-js="gameDescriptionText"] {
  text-align: left;
  letter-spacing: 0px;
  color: #868686;
  opacity: 1;
}

.numberCircleStyle {
  background-color: #adc0c4;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 32px;
  margin-right: 8px;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.numberCircleStyle:hover {
  filter: brightness(0.9);
}
