body {
  margin: 0;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  font-family: Helvetica;
}

nav {
  border: 2px solid #ebebeb !important;
}

footer {
  text-align: center;
}

.cartTitleStyle {
  text-align: start;
  font: italic normal bold 24px/85px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}

.thinTextStyle {
  text-align: center;
  font: normal normal 300 24px/85px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
}

.brandNameLine {
  height: 6px;
  width: 95px;
  border-radius: 3px;
  background-color: #b5c401;
}

.brandNameStyle {
  text-align: center;
  font: italic normal bold 44px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.gameButtonStyle {
  background-color: transparent;
  text-align: center;
  font: italic normal bold 14px;
  border: 2px solid;
  width: 113px;
  height: 34px;
}

span[id="ChooseGameText"] {
  text-align: start;
  font: italic normal bold 17px Helvetica;
  letter-spacing: 0px;
  color: #868686;
  opacity: 1;
  /* margin-left: 16px; */
}

span[id="NewBetText"] {
  text-align: start;
  font: italic normal bold 24px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.typeGameText {
  text-align: center;
  font: italic normal 300 24px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
}

.iconDeleteStyle {
  color: #888888 0% 0% no-repeat padding-box;
  opacity: 1;
  font-size: 20px;
}

.selectedNumbersTextStyle {
  text-align: justify;
  font: italic normal bold 15px Helvetica;
  color: #868686;
}

.gamePriceTextStyle {
  text-align: justify;
  font: normal normal normal 16px Helvetica;
  color: #868686;
}

.gameTextStyle {
  font: italic normal bold 16px Helvetica;
}

.saveCartItensContainer {
  height: 50%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 1px solid #e2e2e2;
  opacity: 1;
  text-align: center;
  font: italic normal bold 35px/70px Helvetica;
  letter-spacing: 0px;
  color: #27c383;
  opacity: 1;
}

.saveCartItensContainer:hover,
.saveCartItensContainer:focus {
  color: #20a36d;
}

.navbarButtonsStyle {
  background-color: transparent;
  text-align: center;
  font: italic normal bold 20px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.addCartButtonStyle {
  font: normal normal bold 16px/24px Helvetica;
  color: white;
  background-color: #27c383;
  border: 1px #27c383;
}

.addCartButtonStyle:hover {
  color: white;
  background-color: #20a36d;
}

.gameActionsButtonStyle {
  font: normal normal bold 16px/24px Helvetica;
  border: 1px solid #27c383;
  color: #27c383;
}

.gameActionsButtonStyle:hover {
  color: white;
  background-color: #20a36d;
}

.iconThin {
  -webkit-text-stroke: 3px #f4f4f4;
  margin-left: 3px;
}

.instructionTitleStyle {
  text-align: left;
  font: italic normal bold 17px Helvetica;
  letter-spacing: 0px;
  color: #868686;
}

span[data-js="gameDescriptionText"] {
  text-align: left;
  letter-spacing: 0px;
  color: #868686;
  opacity: 1;
}

.numberCircleStyle {
  background-color: #adc0c4;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 32px;
  margin-right: 8px;
  margin-bottom: 16px;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  border: none;
}

.numberCircleStyle:hover {
  filter: brightness(0.9);
  color: white;
}

[data-js="deleteGameButton"]:hover {
  filter: brightness(0.9);
  color: rgb(182, 0, 0);
}

.noItensTextStyle {
  flex-direction: column;
  text-align: center;

  font: normal normal 300 14px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  text-transform: uppercase;
}
